.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
}

.MuiIconButton-colorInherit {
    display: none;
}


/* Sidebar css */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 238px;
    background-color: #f8f8f8;
    border-right: 1px solid #ebebeb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #ebebeb;
}

.nav-link-wrapper {
    display: flex;
    align-items: center;
}